<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codefathers.tripalert">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- todo: change the allowBackup when finished -->
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyArHpPNqowyMiNjeoCFrrPS29T_BmyAEGA" />

        <!-- parentActivity name is only used above api 17 but should be fine i guess -->
        <activity
            android:name=".activities.HomeScreen"
            android:theme="@style/Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.About"
            android:label="About"
            android:parentActivityName=".activities.HomeScreen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Settings"
            android:label="Settings"
            android:parentActivityName=".activities.HomeScreen" />
        <activity
            android:name=".activities.SelectContacts"
            android:label="@string/addContacts"
            android:theme="@style/Steps" />
        <activity
            android:name=".activities.SpecifyDetails"
            android:label="Specify Tracking Details"
            android:theme="@style/Steps" />
        <activity
            android:name=".activities.ConfirmTracking"
            android:label="Confirm Tracking"
            android:theme="@style/Steps" />
        <activity
            android:name=".activities.PhoneAuthActivity"
            android:theme="@style/Light.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>